<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth2 Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="col-sm-3 well">
        <h3>Login with:</h3>
        <div class="list-group">
            <a th:href="${initAuthPath}" class="list-group-item active">My AS</a>
            <!--            <a href=https://www.google.com class="list-group-item active">My AS</a>-->
        </div>
    </div>
</div>
</body>
</html>